*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
	height: auto;
	width: 100%;
/*	border: 1px solid black;*/
	display: flex;
	justify-content: center;
	align-content: center;
	background: transparent;
}
.main{
	width: 80%;
/*	border: 1px solid black;*/
	display: flex;
	justify-content: space-between;
	align-content: center;
}
.logo{
	width: 15%;
/*	border: 1px solid black;*/
}
.logo img{
	width: 100%;
	height: 100%;
}
nav{
	display: flex;
	align-items: center;
	font-size: 20px;
}
nav li{
	list-style: none;
}
nav li a{
	height: auto;
/*	border: 1px solid black;*/
	text-decoration: none;
	display: inline-block;
	padding: 20px;
	margin: 5px;
	cursor: pointer;
}
.active, nav li:hover{
	background: yellow;
	border-radius: 10px;
}
.menu{
	height: 100vh;
	width: 100%;
/*	border: 1px solid black;*/
	background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.7)), url(../image/b2.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
.menu h1{
	color: white;
/*	border: 1px solid white;*/
	position: absolute;
	top: 50%;
	left: 5%;
	font-size: 40px;
}
.menu p{
	color: white;
	position: absolute;
	top: 66%;
	left: 5%;
}
.menu button{
	padding: 15px;
	position: absolute;
	font-size: 18px;
	border-radius: 10px;
	top: 76%;
	left: 5%;
	background: transparent;
	color: white;
}
.menu button:hover{
	background: yellow;
	color: black;
}
.menu div{
	height: 500px;
	width: 350px;
	position: absolute;
	top: 20%;
	left: 65%;
	opacity: 0.5;
	background: white;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.menu i{
	flex-basis: 50%;
	font-size: 100px;
	height:160px;
/*	border: 1px solid black;*/
	text-align: center;
}
.menu i:hover{
	background: yellow;
}
.most{
	height: auto;
	width: 100%;
/*	border: 1px solid black;*/
	background: whitesmoke;
}
.most h2{
	text-align: center;
	font-size: 36px;
	margin: 7px;
}
.most p{
	text-align: center;
	font-size: 17px;
}
.most1{
	width: 100%;
	height: 60vh;
/*	border: 1px solid black;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
.most2{
	width: 80%;
	height: inherit;
/*	border: 1px solid black;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.mos{
	flex-basis: 30%;
	height: 55vh;
/*	border: 1px solid black;*/
}
.mos img{
	width: 100%;
	height: 70%;
}
.mos:hover{
	transform: scale(1.04);
	box-shadow: 2px 2px 6px 2px yellow;
}
.mos h3{
	font-size: 20px;
	text-align: center;
	padding: 5px;
}
.mos p{
	padding: 5px;
}
.mos h3:hover{
	color: yellowgreen;
}
#about{
	height: 500px;
	width: 100%;
/*	border: 1px solid black;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
#about .ab{
	height: 400px;
	width: 100%;
/*	border: 1px  solid black;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
.ab .ab1{
	flex-basis: 33.33%;
	position: relative;
}
.ab1 img{
	width: 100%;
	height: 300px;
/*	border: 1px solid black;*/
	border-right: 1px solid black;
}
.intro{
	height: 80px;
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	background: rgb(27, 27, 27, .5);
	visibility: hidden;
}
.intro h3{
	font-size: 20px;
}
.ab1:hover{
	cursor: pointer;
	opacity: 1;
	visibility: visible;
}
.ab1:hover .intro{
	height: 100px;
	width: 99%;
	bottom:10px;
	background: yellow;
	visibility: visible;
	padding:15px;
}
.page1{
	height:auto;
	width: 100%;
/*	border: 1px solid black;*/
	background: whitesmoke;
}
.page1 h3{
	text-align: center;
	font-size: 30px;
	padding: 10px;
}
.page{
	width: 100%;
	height: auto;
/*	border: 1px solid black;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
.pag{
	width: 80%;
/*	border: 1px solid black;*/
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 40px;
}
.pg{
	height: 160px;
	flex-basis: 30%;
	margin: 20px;
	background: white;

/*	border: 1px solid black	;*/
}
.pg h5{
	font-size: 20px;
	padding: 20px;
}
.pg p{
	padding: 20px;
}
.pg:hover{
	background: lightyellow;
	box-shadow: 2px 2px 8px 2px yellow;
}
.pg:hover h5{
	color: yellow;
	font-size: 24px;
}
.read{
	height: 70vh;
/*	border:1px solid black;*/
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.2)), url(../image/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}
.read h2{
	position: absolute;
	top: 2600px;
	left: 20%;
	color: yellow;
	font-size: 30px;
	padding: 10px;
}
.read p{
	position: absolute;
	top: 2650px;
	left: 30%;
	font-size: 17px;
	padding: 10px;
	color:white;
}
.read button{
	position: absolute;
	top: 2750px;
	left: 44%;
	padding: 15px;
	font-size: 18px;
	border-radius: 10px;
	background: transparent;
	color: white;
	margin: 10px;
}
.read button:hover{
	background: yellow;
	color: black;
	border: 1px solid white;
}
.blog{
	height: auto;
	width: 100%;
	padding: 30px;
/*	border: 1px solid black;*/
}
.blog h2{
	text-align: center;
}
.blog1{
	height: auto;
	width: 100%;
/*	border: 1px solid black;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
.blog2{
	height: auto;
	width: 80%;
/*	border: 1px solid black;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.blo{
	flex-basis: 30%;
	margin: 15px;
}
.blo button{
	width: 100px;
	height: 30px;
	background: yellow;
	border-radius: 10px;
	border:1px solid yellow;
	font-size: 18px;
	margin-top: 15px;
}
.blo h2{
	text-align: left;
	padding: 5PX;
}
.blo p{
		padding: 5px;
}
.blo h6{
	padding: 10px;
	text-align: left;
	font-size: 16px;
}
.blo img:hover{
	transform: rotate(-3deg);
}
.blo #btn{
	background: transparent;
}
#btn:hover{
	background: yellow;
}
#contact{
	height: 50vh;
	width: 100%;
/*	border: 1px solid black;*/
	background-image: url(../image/bg1.avif);
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact1{
	width: 80%;
/*	border:1px solid white;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
form h2{
	font-size: 40px;
	padding: 10px;
	color: white;
	text-align: center;
}
form input{
	width: 450px;
	background: transparent;
}
textarea{
	width: 450px;
	background: transparent;
}
form button{
	text-align: center;
	margin-left: 170px;
	width: 100px;
	font-size: 20px;
	background: transparent;
	border-radius: 10px;
	padding: 5px;
}
footer{
	width: 100%;
	height: auto;
	background: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ft1{
	width: 80%;
/*	border:1px solid white;*/
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ft{
	flex-basis: 30%;
	padding: 10px;
	margin: 10px;
	font-size: 20px;
}
.ft h4{
	padding: 10px;
}
input{
	padding: 5px;
	margin: 3px;
}





/*Responsive start*/

@media(min-width:721px) and (max-width:980px){
	.menu h1{
	top: 5%;
	left: 1%;
	font-size: 29px;
}
.menu p{
	top:15%;
	left: 0%;
	font-size: 20px;
	margin: 10px;
}
.menu button{
	padding: 9px;
	font-size: 25px;
	top: 26%;
	left: 0%;
}
.menu div{
	height: 300px;
	width: 300px;
	top: 40%;
	left: 35%;
}
.menu i{
	font-size: 70px;
	height:75px;
}
.most{
	height: auto;
}
.most1{
	height: auto;
}
.most2{
	height: auto;
}
.mos img{
	height: 50%;
}
.mos{
	height:380px;
	margin: 10px;
}
#about{
	height: auto;
}
.ab1 img{
	border-right: 1px solid black;
}
#about .ab{
	height: auto;
}
.ab1:hover .intro{
	height: auto;
}
.pag{
	margin: 0px;
}
.pg{
	flex-basis: 48%;
	margin: 5px;
}
.pg h5{
	font-size: 20px;
	padding: 9px;
}
.pg p{
	padding: 9px;
}
.read h2{
	top:auto;
	left: auto;
	margin-left: 60px;
/*	text-align: center;*/
	font-size: 20px;
}
.read p{
	top: auto;
	left: auto;
	display: none;
}
.read button{
	top: 350%;
	left: 39%;
}
.blog2{
	flex-wrap: wrap;
}
.blo{
	flex-basis: 40%;
}
.blo img{
	width:100%;
}
.ft1{
	width: 100%;
}
.ft form input{
	width: auto;
}

}


@media(min-width:481px) and (max-width:720px){
	header{
		height: 70px;
		width: 100%;
	}
	.main{
		width: 100%;
/*		border: 1px solid black;*/
		justify-content: space-evenly;
		}
	nav{
		font-size: 20px;
	}
	nav li a{
		padding: 3px;
	}
	.logo{
		height: 80px;
	}
	.menu h1{
	top: 5%;
	left: 5%;
	font-size: 20px;
}
.menu p{
	top:15%;
	left: 5%;
}
.menu button{
	padding: 5px;
	font-size: 20px;
	top: 26%;
	left: 5%;
}
.menu div{
	height: 300px;
	width: 250px;
	top: 40%;
	left: 25%;
}
.menu i{
	font-size: 50px;
	height:60px;
}.most{
	height: auto;
}
.most1{
	height: auto;
}
.most2{
	flex-direction: column;
}
#about{
	height: auto;
}
.ab1 img{
	border-bottom: 1px solid black;
	border-right: none;
}
#about .ab{
	height: auto;
	flex-direction: column;
}
.ab1:hover .intro{
	height: 150px;
}
.pag{
	margin: 0px;
}
.pg{
	flex-basis: 45%;
	margin: 5px;
}
.pg h5{
	font-size: 17px;
	padding: 5px;
}
.pg p{
	padding: 5px;
}
.read h2{
	top:auto;
	left: auto;
	font-size: 20px;
}
.read p{
	top: auto;
	left: auto;
	display: none;
}
.read button{
	top: 612%;
	left: 29%;
}
.blog2{
	justify-content: center;
	flex-direction: column;
}
.blo img{
	width: 100%;
}
.ft1{
	flex-direction: column;
}
}


@media(min-width:361px) and (max-width:480px){
	header{
		height: 70px;
		width: 100%;
	}
	.main{
		width: 100%;
/*		border: 1px solid black;*/
		justify-content: space-evenly;
		}
	nav{
		font-size: 15px;
	}
	nav li a{
		padding: 1px;
	}
	.logo{
		height: 80px;
	}
	.menu h1{
	top: 5%;
	left: 0%;
	font-size: 17px;
}
.menu p{
	top:15%;
	left: 0%;
}
.menu button{
	padding: 3px;
	font-size: 15px;
	top: 26%;
	left: 0%;
}
.menu div{
	height: 300px;
	width: 200px;
	top: 40%;
	left: 25%;
}
.menu i{
	font-size: 50px;
	height:60px;
}
.most{
	height: auto;
}
.most1{
	height: auto;
}
.most2{
	flex-direction: column;
}
#about{
	height: auto;
}
.ab1 img{
	border-bottom: 1px solid black;
	border-right: none;
}
#about .ab{
	height: auto;
	flex-direction: column;
}
.ab1:hover .intro{
	height: 150px;
}
.pag{
	flex-direction: column;
}

.read h2{
	top: 4450px;
	left: auto;
	font-size: 20px;
}
.read p{
	top: 4550px;
	left: auto;
}
.read button{
	top: 4630px;
	left: 24%;
}
.blog2{
	flex-direction: column;
}
.blo img{
	width: 100%;
}
.ft1{
	flex-direction: column;
}
form input{
	width: auto;
	background: transparent;
}
textarea{
	width: auto;
}
form  button{
	margin: auto;
}

}



@media(min-width:0px) and (max-width:360px){
	header{
		height: 70px;
		width: 100%;
	}
	.main{
		width: 100%;
/*		border: 1px solid black;*/
		justify-content: space-evenly;
		}
	nav{
		font-size: 10px;
	}
	nav li a{
		padding: 1px;
	}
	.logo{
		height: 80px;
	}
	.menu h1{
	top: 5%;
	left: 0%;
	font-size: 17px;
}
.menu p{
	top:15%;
	left: 0%;
}
.menu button{
	padding: 1px;
	font-size: 10px;
	top: 26%;
	left: 0%;
}
.menu div{
	height: 300px;
	width: 200px;
	top: 40%;
	left: 25%;
}
.menu i{
	font-size: 50px;
	height:60px;
}
.most{
	height: auto;
}
.most1{
	height: auto;
}
.most2{
	flex-direction: column;
}
#about{
	height: auto;
}
.ab1 img{
	border-bottom: 1px solid black;
	border-right: none;
}
#about .ab{
	height: auto;
	flex-direction: column;
}
.ab1:hover .intro{
	height: 150px;
}
.pag{
	flex-direction: column;

}
.read{
	width: 100%;
}
.read h2{
	top: 4550px;
	left: auto;
	font-size: 20px;
}
.read p{
	top: 4600px;
	left: auto;
}
.read button{
	top: 4700px;
	left: 24%;
}
.blog2{
	flex-direction: column;
}
.blo img{
	width: 100%;
}
.ft1{
	flex-direction: column;
}
form input{
	width: auto;
	background: transparent;
}
textarea{
	width: auto;
}
form  button{
	margin: auto;
}
}